<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div style="width:100%">
            <button class="btn btn-primary pull-right" onclick="getData()">
                <span class="glyphicon glyphicon-refresh"></span> Refresh
            </button>
    </div>
    <table class="table table-bordered table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">Request ID</th>
            <th scope="col">Customer ID</th>
            <th scope="col">Time Elapsed</th>
            <th scope="col">Status</th>
            <th scope="col">Driver</th>
          </tr>
        </thead>
        <tbody id='data'>
        </tbody>
    </table>
    <script>
        var socket = io();
        socket.emit('join', {customerId: 'dashboard'});

        function bindData(rides) {
            $('#data').empty();
            rides.forEach(ride => {
                $('#data').append(`
                    <tr>
                        <td>${ride.requestId}</td>
                        <td>${ride.customerId}</td>
                        <td>${moment(ride.requestTime).fromNow()}</td>
                        <td>${ride.status}</td>
                        <td>${ride.driverId || 'None'}</td>
                    </tr>
                `); 
            });
        }

        function getData() {
            $.get( "/api/ridedata", function( data ) {
                bindData(data);
            });
        }

        $(document).ready(function () {
            $.get( "/api/ridedata", function( data ) {
                bindData(data);
            });
        });

        socket.on("request-for-ride", function(ride){
            $('#data').append(`
                    <tr>
                        <td>${ride.requestId}</td>
                        <td>${ride.customerId}</td>
                        <td>${moment(ride.requestTime).fromNow()}</td>
                        <td>${ride.status}</td>
                        <td>${ride.driverId || 'None'}</td>
                    </tr>
            `);
        });

        socket.on("ride-accepted", function(rides){
            bindData(rides);
        });
    </script>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>