<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div style="width:100%">
        <button class="btn btn-primary pull-right" onclick="getData()">
            <span class="glyphicon glyphicon-refresh"></span> Refresh
        </button>
    </div>
    <table class="table table-bordered table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">Waiting</th>
            <th scope="col">Ongoing</th>
            <th scope="col">Complete</th>
          </tr>
        </thead>
        <tbody id='data'>
          <tr>
            <td id='waiting'></td>
            <td id='ongoing'></td>
            <td id='complete'></td>
          </tr>
        </tbody>
    </table>
</main>
<script type="text/javascript">
    var socket = io();
    var driver = new URLSearchParams(window.location.href);
    
    var driverId = decodeURI(window.location.search)
        .replace('?', '')
        .split('&')
        .map(param => param.split('='))
        .reduce((values, [ key, value ]) => {
            values[key ] = value
            return values
        }, {}).id;
    
    socket.emit('join', {customerId: driverId});

    function bindWaitingRide(ride) {
        $('#data #waiting').append(`
                <div>Request ID : ${ride.requestId},<br />
                    Customer ID: ${ride.customerId},
                    <br />
                    Time: ${moment(ride.requestTime).fromNow()}
                    <br />
                    <button class="btn btn-primary" data-requestid=${ride.requestId}>Select</button>
                </div>`);
    }

    function bindOngoingRide(ride) {
        $('#data #ongoing').append(`
                <div>Request ID : ${ride.requestId},<br />
                    Customer ID: ${ride.customerId},
                    <br />
                    Request Time: ${moment(ride.requestTime).fromNow()}
                    <br />
                    Picked Up Time: ${moment(ride.pickedUp).fromNow()}
                    <br />
                    <button class="btn btn-primary" data-requestid=${ride.requestId}>End Ride</button>
                </div>`);
    }

    function bindCompleteRide(ride) {
        let duration = moment(ride.completeTime).diff(moment(ride.pickedUp), 'minutes');
        $('#data #complete').append(`
                <div>Request ID : ${ride.requestId},<br />
                    Customer ID: ${ride.customerId},
                    <br />
                    Request Time: ${moment(ride.requestTime).fromNow()}
                    <br />
                    <br />
                    Picked Up Time: ${moment(ride.pickedUp).fromNow()}
                    <br />
                    Duration: ${ moment.duration(duration,'minutes').humanize()}
                </div>`);
    }

    function bindData(rides) {
        $('#data #waiting').empty();
        $('#data #ongoing').empty();
        $('#data #complete').empty();
        
        if(rides && rides.length) {
            var driverRide = rides.reduce((r,ride) => {
                r[ride.status].push(ride);
                return r;
            },{'Waiting' : [], 'Ongoing' : [], 'Complete': []});
           
            driverRide.Waiting.forEach(function(ride){
                bindWaitingRide(ride)
            });
            driverRide.Ongoing.forEach(function(ride){
                bindOngoingRide(ride)
            });
            driverRide.Complete.forEach(function(ride){
                bindCompleteRide(ride)
            });
           
        }
    }
    
    socket.on("request-for-ride", function(ride){ 
        bindWaitingRide(ride);
    });

    $('#data #waiting').on('click', 'button', function(){
        var requestId = $(event.target).data('requestid');
        socket.emit('ride-accepted', {requestId, driverId});    
        $(event.target).parent().remove();
    });

    $('#data #ongoing').on('click', 'button', function(){
        var requestId = $(event.target).data('requestid');
        socket.emit('ride-end', {requestId, driverId});    
        $(event.target).parent().remove();
    });

    socket.on("ride-accepted", function(ride){
       getData();
    });

    socket.on("ride-end", function(ride){
       getData();
    });

    function getData() {
        $.get(`/api/driverdata?driverId=${driverId}`, function( rides ) {
            bindData(rides);
        });
    }

    $(document).ready(function () {
        getData();
    });
</script>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>